body
{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(blog_1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  
}
.form{
    position: relative;
    z-index: l;
    background: #5CDB95;
    max-width: 330px;
    padding-bottom:4%;
    text-align: center;
    border-radius: 40px;
}

.form input{
    font-family: 'Courier New', Courier, monospace;
    outline: lightsalmon;
    background: #f2f2f2;
    width:90%;
    border: 0;
    margin: 0 0 5px;
    padding:10px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #084184;
    width: 100px;
    border-radius: 30px;
    border: 0;
    margin-top: 100px;
    padding:5px;
    color: white;
    font-weight:500;
    font-size: 15px;
    cursor: pointer;
}
.form button :hover,.form button :active{
    background: #43A047;
}